/* First Section */
body {
  font-family: 'Montserrat-Black', sans-serif;
}

h1 {
  font-family: "Montserrat-bold";
  font-size: 3.3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-Bold';
  font-size: 3.1rem;
  line-height: 1.5;
}

/* Headers */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.3rem;
  line-height: 1.5;
}

#title {
  background-color: #E32249;
  color: white;
  position: relative;
}

#cat {
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 180px;
  right: 20%;
  transform: rotate(20deg);
}

#secondPart {
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
  padding-top: 1%;
}

#thirdPart {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  padding-bottom: 3%;
  font-style: Montserrat-Black;
}

#footer {
  background-color: #E32249;
  padding-bottom: 10%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: white;
}

#logos {
  padding-bottom: 1.5%;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.carousel-item {
  padding: 0 15%;
}

#payment {
  padding: 100px;
  text-align: center;
  font-family: Montserrat-Black;
}

.footer-text {
  margin-bottom: 30px;
}

.nav-item {
  color: white;
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem font-family: "Montserrat-Light";
}

.container-fluid {
  padding: 3% 15% 9%;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.bottoms {
  display: inline-block;
  padding: 5%;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.fa {
  margin: 20px 10px;
}

.fas {
  color: pink;
  padding-bottom: 20px;
}

.fas:hover {
  color: #E32249;
}

.client {
  width: 20%;
  display: inline-block;
  border-radius: 100%;
  margin: 20px;
}

.BI {
  width: 15%;
  margin: 20px 20px;
}

.payment-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  #cat {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}
